@value grey-cool, white-full, black-full, black-dark from "styles/share/colors.css";
@value marg 2vw;

.container {
  padding: marg marg 0 marg;
  /* background-color: red; */
  text-decoration: none;
  float: left;
}

.image {
  height: 200px;
  float: left;
  /* margin: marg; */
  margin-right: marg;
  margin-bottom: marg;
}

.separator {
  clear: both;
  height: 40px;
  background-color: grey-cool;
}

.text__title {
  font-family: 'Forum', sans-serif;
  font-weight: bold;
  font-size: 36px;
  font-style: normal;
  line-height: 1em;
  letter-spacing: 0.08333333333333333em;
  font-stretch: normal;
  color: black-dark;
  margin: 10px;
}

.text__body {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  font-size: 12px;
  font-style: normal;
  line-height: 1em;
  color: black-dark;
  /* padding-right: marg; */
  /* margin-left: 340px; */
}
