@value white-full, black-dark from "styles/share/colors.css";

.image {
  /* composes: grid__main from global; */
  width: 100%;
  object-fit: cover;
  height: 100vh;
}

.text {
  font-family: 'Forum', sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: 1em;
  letter-spacing: 0.08333333333333333em;
  /* font-weight: normal; */
  font-stretch: normal;
  /* line-height: 1; */
  color: black-dark;
  /* word-spacing: 100vw; */
  width: 250px;
}

.text__name {
  /* composes: grid__left-from-middle from global; */
  font-size: 36px;
  letter-spacing: 3.6px;
  color: black-dark;
  /* text-align: end; */
  position: absolute;
  /* left: -250px; */
}

.text__about {
  /* composes: grid__right-from-middle from global; */
  font-size: 18px;
  letter-spacing: 1.8px;
  color: white-full;
  margin-top: 70px;
  position: absolute;
}
