.Text-Style {
  font-family: 'Forum', cursive;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.7;
  letter-spacing: 3.6px;
  color: #0c0c0c;
}
