@value grey-cool, dark, white-full from "styles/share/colors.css";
@value small, medium, large from "styles/share/bp.css";
@value header-width: 33vw;
@value jumbotron-height: 15vh;

.wrapper {
  height: 100vh;
  background-color: grey-cool;
}

.header {
  background-color: grey-cool;
  position: fixed;
  width: header-width;
  height: 100vh;
  z-index: 8;
}

.main {
  margin-left: header-width;
  z-index: 8;
  position: relative;
  height: 100vh;
}

.content {
  z-index: 8;
  margin-left: header-width;
  padding-top: jumbotron-height;
}

.jumbo {
  z-index: 11;
  background-color: grey-cool;
  position: fixed;
  margin-left: header-width;
  width: 100%;
  height: jumbotron-height;
}

.player {
  z-index: 11;
  position: sticky;
  bottom: 0;
}

.content-margin {
  height: 60px;
}

.menu__button {
  composes: button__empty button__link from global;
  z-index: 30;
  width: 50px;
  height: 50px;
  position: fixed;
  padding: 0;
  display: none;
  fill: white-full;
  background-color: dark;
}

@media medium, small {
  .menu__button {
    display: block;
  }
  /* 
  .header {
    display: block;
  } */

  .main {
    margin-left: 0;
  }

  .content {
    margin-left: 0;
    padding-top: jumbotron-height;
  }

  .jumbo {
    position: fixed;
    margin-left: 0;
    width: 100%;
    height: jumbotron-height;
  }

  .resp__header {
    z-index: 10;
    width: 30%;
    min-width: 200px;
  }

  .resp__header_show {
    display: flex;
  }

  .resp__header_hide {
    display: none;
  }
}
