@value grey-cool, white-full, black-full, black-dark from "styles/share/colors.css";

.container {
  background-color: white-full;
}

.image__container {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}

.text__container {
  margin: 10px;
}

.button {
  margin-bottom: 1rem;
  margin-left: 35px;
}

.text__container p {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 10px 40px;
  text-align: justify;
}

@value cross-size 50px;

.close {
  position: fixed;
  right: cross-size;
  top: cross-size;
  width: cross-size;
  height: cross-size;
  opacity: 0.3;
  cursor: pointer;
  padding: 0;
  box-sizing: content-box;
}

.close:hover {
  opacity: 1;
}

.close::before,
.close::after {
  position: absolute;
  top: 0;
  left: calc(cross-size/2);
  content: ' ';
  height: cross-size;
  width: 2px;
  background-color: #333;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}
