@value black-full, link-hover from "styles/share/colors.css";
@value small, medium, large from "styles/share/bp.css";

.header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav__link {
  composes: button__empty button__link from global;
  display: block;
  padding: 1rem 1rem;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.7;
  letter-spacing: 1.8px;
  color: black-full;
  text-align: left;
  text-decoration: none;
  /* text-transform: uppercase; */
}

.nav__link:focus {
  outline: none;
}

.nav__link_active {
  /* color: white; */
}

.button-social {
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 0;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.button-social__container {
  display: block;
  margin-bottom: 10%;
}

.button-social:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.button-connect {
  text-decoration: none;
  display: none;
  vertical-align: middle;
  text-align: center;
}

.button-connect_email {
  padding: 4px;
}

.button-connect_phone {
  line-height: 46px;
}

.text-connect {
  /* width: 200px; */
  margin-bottom: 1vh;
}

@media medium, small {
  .button-connect {
    display: inline-block;
  }

  .text-connect {
    display: none;
  }
}
