@value black-full, link-hover from "styles/share/colors.css";
@value header-width from "styles/share/data.css";

.header {
  position: fixed;
  width: header-width;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav__link {
  composes: button__empty button__link from global;
  display: block;
  padding: 1rem 1rem;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.7;
  letter-spacing: 1.8px;
  color: black-full;
  text-align: left;
  text-decoration: underline;
}

.nav__link_active {
}

.button-social {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin: 5px;
  padding: 0;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.button-social__container {
  display: block;
  margin-bottom: 20%;
}

.button-social:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}
