@value white-full, black-dark, grey-cool from "styles/share/colors.css";

.container {
}

.text {
  font-family: 'Forum', sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: 1em;
  letter-spacing: 0.08333333333333333em;
  font-stretch: normal;
  color: black-dark;
  word-spacing: 100vw;
  width: 200px;
}

.text__name {
  font-size: 24px;
  letter-spacing: 3.6px;
  color: black-dark;
  text-align: end;
  float: right;
  /* left: 300px; */
}

.text__about {
  font-size: 12px;
  letter-spacing: 1.8px;
  color: white-full;
  margin-top: 0.4em;
  float: right;
  margin-right: calc(50% - 200px);
}

.text__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  font-size: 18px;
  letter-spacing: 0.3em;
  position: absolute;
  bottom: 10px;
  word-spacing: initial;
}
