@value black-full from "styles/share/colors.css";

.container {
  height: 36px;
  margin-top: 20%;
}

.listen-button {
  composes: button__empty from global;
  z-index: 30;
}

.listen-button__text {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 10px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.1em;
  color: black-full;
}
