@value black-full from "styles/share/colors.css";
@value small, medium, large from "styles/share/bp.css";

.container {
  height: 36px;
  margin-top: 10vh;
}

.container__marg {
  margin-top: calc(10vh + 60px);
}

.listen-button {
  composes: button__empty from global;
  z-index: 30;
}

.listen-button__text {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 10px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.1em;
  color: black-full;
}
