@value grey-cool, white-full, black-full, black-dark from "styles/share/colors.css";

.container {
  background-color: white-full;
  padding: 20px;
  width: 100%;
}

.image {
  /* height: 400px; */
  /* display: inline-block; */
  width: 63%;
  vertical-align: baseline;
  margin: 1%;
  float: left;
}

.separator {
  clear: both;
  height: 40px;
  background-color: grey-cool;
}

.text__title {
  font-family: 'Forum', sans-serif;
  font-weight: bold;
  text-align: justify;
  font-size: 24px;
  font-style: normal;
  line-height: 1em;
  letter-spacing: 0.08333333333333333em;
  font-stretch: normal;
  color: black-dark;
  margin: 10px;
}

.text__body {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  font-size: 12px;
  font-style: normal;
  line-height: 1em;
  color: black-dark;
}

.text__date {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  font-size: 36px;
  font-style: normal;
  line-height: 1em;
  color: black-dark;
  margin: 10px;
}

.map {
  height: 400px;
  display: inline-block;
  margin: 1%;
  width: 33%;
  vertical-align: top;
}
