/* autoprefixer grid: on */

.video-list {
  cursor: pointer;
}

.video-list:hover {
  color: blue;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}
.App {
  /* @value colors: "./Styles/variables.css"; */
}
